/* set the page */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}
/* start page at top  */

#loader {
    position: absolute;
    width: 100%;
}
/* body styling */
body {
    background-color: #d9dcd6;
    margin: auto;
    max-width: 100%;
    position: absolute;

}
/* header styling start */

.header {
    position: absolute;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    width: 100%;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #858a80;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


.header div ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: none;
}

.header a {
    color: #ffffff;
    text-decoration: none;
}

/* header styling end */

/* header link styling start */
.optimization {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* header link styling end */

/* hero styling start */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}


/* hero styling end */

/* content styling start */
.content p {
    font-size: 16px;
}


.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;    
}

.optimization img {
    max-height: 200px;
}

.optimization h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* benefits styling start */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* benefits styling end */

/* footer styling start */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;

}

.footer h2 {
    font-size: 20px;
}
/* footer styling end */